form {
    display: flex;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    justify-content: center;
    background-color: var(--theme-body-bg);
  }
  
  input[type=text] {
    font-size: 16px;
    border: none;
    padding: 4px 16px;
  }

  button {
    background: var(--brand-color_3);
    border: 0;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
  }